.fondo {
    background-image: url(../img/trav.webp);
    background-size: cover;
    display: flex;
    justify-content: center;
}

.fondo2 {
    background: linear-gradient(to right, rgb(210, 179, 6), black);

}