
  .btnCompra {
    background-color: green;
    color: #fafafa;
  
    &:hover {
      background-color: rgb(13, 81, 13);
    }
  }
  
  a:hover {
    color: #fafafa;
    font-weight: 400;
  }

  /* destacadas */
.destacadas {
    margin-bottom: 50px;
    padding-bottom: 50px;
    text-align: center;
}


.tarjeta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 4px black;
  
    img {
      max-width: 100%;
    }
  
    p {
      margin: 10px;
    }
  }
  
  .card {
    margin: 60px;
    padding: 50px;
   
  }

  